#root {
    height: 100vh;
}


html {
    height: 100%;
}

/* ----------------------------- Top-Level Setup ---------------------------- */

.welcome {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18pt;
    font-weight: bold;
}

#img {
    margin-top: 5%;
    height: 500px;
    width: 500px;
}

#img2 {
    margin-top: 25px;
    height: 500px;
}

.map-container {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-top: 2.5%;
    grid-template-columns: 50% 50%;
}

.map-header {
    padding-top: 20px;
    grid-column: 1/ span 2;
    height: 60px;
    border-top: 4px solid var(--primary-red);
    
}

.user-maps {
    height: 600px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.map-create {
    margin-top: 32px;
    height: 40px;
    padding-top: 10px;
}

.map-entry {
    display: grid;
    grid-template-columns: 2;
    grid-template-columns: 70% 15% 15%;
}

.map-entry-item{
    min-height: 60px;
    padding-top: 20px;
    text-decoration: none;
}

.map-entry-text{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 5%;
    max-width: 90%;
    font-weight: bold;
    font-size: 16pt;
}

.map-entry-delete{
    min-height: 60px;
    padding-top: 20px;
    grid-column: 3;
}

.map-entry-edit{
    min-height: 60px;
    padding-top: 20px;
    grid-column: 2;
}

.modal-input {
    width: 100%;
}

.login-modal {
    width: 350px;
}

.signup-modal {
    width: 375px;
}

.modal-col-gap{
    column-gap: 24px;
}

.modal-button {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.modal-spacer {
    height: 24px;
}

.main-login-modal {
    padding: 24px 24px 0px 24px;
}

.modal-error {
    height: 24px;
    align-items: center;
    display: flex;
}

.delete-modal {
    position: fixed;
    width: fit-content;
}

.ugh{
    display: flex;
}

.spreadsheet-container {
    width: 85%;
    margin-left: 7.5%;
    margin-top: 2%;
}

.spreadsheet-header{
    display: flex;
    text-align: center;
    height: 40px;
    position: sticky;
}

.spreadsheet-body {
    height: 700px;
    overflow-y: auto;
    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}



.spreadsheet-top {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.header-col {
    padding-top: 10px;
    font-weight: bold;
    text-align: center;
}

.size1 {
    width: 15%;
    overflow-x: auto;
}

.size2 {
    width: 20%;
    overflow-x: auto;
}

.size3 {
    width: 25%;
    overflow-x: auto;
}

.size4 {
    width: 16%;
    text-align: center;
    border-right: solid 1px black;
}

.size5 {
    width: 2%;
    border-right: solid 1px black;
}

.size6 {
    width: 15%;
}

.size7 {
    width: 20%;
    border-right: solid 1px black;
}

.size8 {
    width: 25%;
    border-left: solid 1px black;
}


.spreadsheet-button-container {
    display: flex;
    justify-content: space-between;
    width: 12%;
}

.spreadsheet-body::-webkit-scrollbar, .wsidebar::-webkit-scrollbar {
    display: none;
    scrollbar-width: "none";
}

.spreadsheet-region-name {
    display: flex;
}

.name{
    padding-left: 10px;
}

.spreadsheet-entry-items{
    display: flex;
    text-align: center;
    height: 35px;   
    border-bottom: solid 1px black;
}

.spreadsheet-entry-item{
    padding-top: 8px;
}

.spreadsheet-entry-text{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 50%;
    margin-left: 25%;
}

.region-viewer-container {
    display: grid;
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 70%;
}

.stock-photo {
    width: 350px;
    height: 220px;
}

.region-viewer-text {
    grid-row-start: 2;
    margin-top: 5%;
}


.region-viewer-text-values {
    display: flex;
    margin-top: 2.5%;
    font-size: 15pt;
}

.region-viewer-landmark-container {
    grid-column-start: 2;
    grid-row: 1 / span 2;
    height: 750px;

}

.region-viewer-landmark-header {
    height: 35px;
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
}

.region-viewer-landmark-body {
    height: 100%;
    overflow-y: auto;
    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
}

.region-viewer-landmark-body::-webkit-scrollbar, .wsidebar::-webkit-scrollbar {
    display: none;
    scrollbar-width: "none";
}


.region-viewer-landmark-adder {
    display: flex;
    height: 30px;
    font-size: 15pt;
}

.landmark-adder{
    width: 30px;
    text-align: center;
    padding-top: 3px;
}

.new-landmark{
    width: 50%;
    font-size: 12pt;
}

.account-container{
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-top: 3.5%;
}

.account-header{
    height: 35px;
    padding-top: 7px;
    font-size: 15pt;
    font-weight: 600;
}

.account-body{
    height: 550px;
}

.account-fields{}

.account-field-items{
    display: grid;
    grid-template-columns: 40% 30%;
    justify-content: center;
    padding-top: 5%;
    font-size: 15pt;
}

.account-buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.account-button {
    width: 250px;
    height: 60px;
    font-size: 20pt;
    font-weight: bold;
}

.absolute-sister{
    position: absolute;
    top: 20px;
    left: 48%;
    display: flex;
}

.whitespace {
    width: 20px;
}

.path {
    display: flex;
    position: absolute;
    top: 18px;
    left: 200px;
    font-size: 18pt;
    max-width: 20%;
    white-space: nowrap;
    overflow-x: auto;
    cursor: pointer;
}

.path::-webkit-scrollbar, .wsidebar::-webkit-scrollbar {
    height: 5px;
    background-color: #aaa;
    
}
.path::-webkit-scrollbar-thumb{
    background-color: rgb(30, 30, 30);
}

.flex{
    display: flex;
}

.landmark-text-container{
    max-width: 100%;
}

.landmark-text {
    font-size: 16pt;
    height: 30px;
    padding-top: 3px;
    padding-left: 5px;
    max-width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.landmark-text2 {
    font-size: 16pt;
    height: 30px;
    padding-top: 3px;
    padding-left: 35px;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.landmark-delete {
    padding-top: 2px;
    padding-left: 10px;
    width: 30px;
    font-size: 14pt;
}

.spread-sheet-photo {
    width: 40px;
}

.top-right{
    display: grid;
    grid-template-rows: 12% 88%;
}

.white{
    color: whitesmoke;
}